* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

html {
  font-size: 10px; }

body {
  font-size: 1.6rem;
  margin: 0px;
  padding: 0px;
  width: 100%;
  color: white; }

a {
  text-decoration: none;
  color: #fff; }

/* Type will scale with document */
h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

.themecolor {
  background: #354b58;
  padding: 90px 12px;
  color: white; }
  .themecolor div {
    vertical-align: middle; }

.themecolordark {
  background: #31414a;
  padding: 90px 12px 35px 12px;
  color: white; }

.nonfloat {
  overflow: hidden; }

.round {
  border-radius: 20px; }

.round50 {
  border-radius: 50%; }

.pad {
  padding: 11px 13px; }

.marg {
  margin-top: 10px; }

.boldclass {
  font-weight: 800; }

button {
  cursor: pointer; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.navbody > .padbelow > .logo_div {
  display: none; }

nav ul li a:hover {
  color: #f4c177; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.navbody {
  background: #354b58; }
  .navbody div #nav-check {
    display: none; }
  .navbody li {
    display: inline-block; }

.padbelow {
  padding-bottom: 0px; }

.nav_top_main {
  overflow: hidden;
  /*background-color: #333;*/ }
  .nav_top_main .icon {
    display: none; }
  .nav_top_main .active {
    background: #4caf50;
    color: white; }
  .nav_top_main a:hover {
    color: #f4c177; }

.nav_top_sec {
  display: block;
  overflow: auto; }

.topsub {
  display: inline-block; }
  .topsub a {
    float: left;
    display: block;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
    font-weight: bold; }

.logo_div {
  float: left; }

.nav_top_sec ul {
  display: inline-block; }

.align_vert {
  vertical-align: 1px;
  padding-left: 2px; }

.navright {
  float: right; }

.nav_top_sec {
  text-align: center; }

.carousel_div img {
  width: 100%; }

.div-3 {
  float: left;
  width: 33.333%;
  padding: 45px 22px;
  display: inline-block; }

.div53 {
  width: 50%;
  padding: 0 8% 6% 0%;
  display: inline-block;
  text-align: center; }

.div3 {
  width: 30%;
  display: inline-block; }

.div2 {
  width: 20%;
  padding-left: 5%;
  display: inline-block; }

.white {
  color: white; }

.image_card img {
  max-width: 100%; }

.card_detail {
  color: #79a0ba; }

.clearin {
  border: 2px solid;
  background: transparent;
  color: inherit; }

.info span {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.5px; }

.img_profile {
  text-align: center; }
  .img_profile img {
    width: 70%;
    max-width: 150px; }

.words span {
  letter-spacing: 0.5px; }

button.dark.pad.boldclass {
  background: black;
  border: none;
  color: white; }

.footer1 {
  display: flex; }
  .footer1 div {
    flex-grow: 1 1 2 1; }
    .footer1 div ul {
      list-style-type: none;
      font-weight: 600;
      padding: 0 0 10% 0; }
      .footer1 div ul li {
        padding: 12px; }

.div2 {
  width: 20%;
  display: inline-block;
  position: relative; }

.div4 {
  width: 30%;
  display: inline-block;
  position: relative;
  padding: 0% 0 10% 5%; }

.title_small {
  font-size: 1.6rem;
  /*margin: 5px;*/ }

.footer_bottom {
  text-align: center;
  font-size: 1.2rem; }

@media (max-width: 500px) {
  html {
    font-size: 8px; }
  .menu_toggle {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    /*background: #ccc;*/
    float: left;
    cursor: pointer;
    text-align: center;
    font-size: 3rem;
    color: white; }
    .menu_toggle.active:before {
      content: '\f00d';
      font-family: fontAwesome;
      line-height: 40px;
      margin: 12px 0px; }
    .menu_toggle:before {
      content: '\f0c9';
      font-family: fontAwesome;
      line-height: 40px; }
  nav {
    display: none; }
    nav.active {
      display: block;
      width: 100%; }
      nav.active ul {
        display: block; }
        nav.active ul li {
          display: flex;
          flex-flow: column;
          justify-content: center;
          text-align: center;
          clear: both; }
  #socialmedia li {
    display: inline-block !important; }
  .logo_div {
    position: absolute;
    top: 13px;
    left: 86px;
    z-index: 999; }
  .navbody .logo_div:first-child {
    display: none; }
  .navbody .logo_div img {
    width: 80%; }
  nav.active {
    display: flex;
    flex-flow: column; }
    nav.active .topsub a {
      text-align: left; }
    nav.active .navright {
      clear: both;
      float: left; }
  .div-3,
  .div2,
  .div4,
  .themecolor div {
    width: 100% !important; }
  .footer1 {
    display: block !important; }
  .navbody > .padbelow > .logo_div {
    display: block; }
  .topsub a {
    padding: 9px 16px; } }

@media (max-width: 768px) {
  .divs10 {
    width: 100% !important; }
  .divs7 {
    width: 70% !important; }
  .divs3 {
    width: 28% !important; }
  .divs5 {
    width: 50% !important; } }

@media (max-width: 900px) {
  html {
    font-size: 9px; } }
